extends ./layout/admin-layout.pug

block append admin
	+controlTable('userView')
	script#barDemo(type='text/html').
		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
block scripts
	script(src="./js/admin-user.js")