extends ./layout/layout.pug

block nav
	include ./layout/nav.pug
	
block contents
	.layui-container
		.fly-panel.fly-panel-user(pad20='')
			.layui-tab.layui-tab-brief(lay-filter='user')
				h2(style='color: red;text-align:center;')= status
				h2(style='text-align:center;')
					span#seconds 1
					| 秒后跳转...
block scripts
	script.
		let n = 1;
		let time = null;
		const fn = ()=>{
		seconds.innerHTML = --n;
		if(n===0){
		location.href = "/";
		clearInterval(time);
		};
		};
		time = setInterval(fn,1000);