ul.layui-nav.layui-nav-tree.layui-inline(lay-filter='user')
	li.layui-nav-item.layui-this
		a(href='/user/post/')
			i.iconfont.icon-tiezi
			| 文章管理
	li.layui-nav-item
		a(href='/user/message/')
			i.layui-icon.layui-icon-dialogue
			| 评论管理
	li.layui-nav-item
		a(href='/user/product/')
			i.iconfont.icon-chanpin
			| 头像上传